@model List<DovizKuru.Models.DovizModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container mt-3">
        <h2>Güncel Döviz Kurları</h2>
        <p>Anlık Olarak Listelenen Kurlar Alış-Satış Fiyatlarıyla Gösterilmektedir</p>
        <ul class="list-group">

            @foreach(var item in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @item.Doviz
                     <span class="badge badge-primary badge-pill">@item.Alış - @item.Satış</span>
                </li>
            }


            
            
        </ul>
    </div>

</body>
</html>
